<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOP_LAB_4_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OOP_LAB_4_2.Properties.Settings>
            <setting name="A" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="C" serializeAs="String">
                <value>50</value>
            </setting>
        </OOP_LAB_4_2.Properties.Settings>
    </userSettings>
</configuration>